* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.font-logo {
  font-family: "Francois One", sans-serif;
}

.cardHighlight {
  min-height: 100%;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.remove-link {
  color: "transparent";
  text-decoration: none; /* Remove the default underline */
  cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */

  /* Add underline on hover */
  &:hover {
    text-decoration: underline;
  }
}

.remove-link-card {
  color: "transparent";
  text-decoration: none; /* Remove the default underline */
  cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */

  /* Add underline on hover */
  &:hover {
    text-decoration: no-underline;
  }
}
